/* 카드 css */
.card{
    position: relative;
    width: 250px;
    height: 320px;
    border: 1px solid grey;
    border-radius: 16px;
    overflow: hidden;
}

#info{
    gap: 20px;
}

.card-image {
    width: 230px;
    height: 180px; 
    padding: 10px;
}

.item-img{
    width: 230px;
    height: 180px;
    object-fit: fill;
    border-radius: 10;
}

.card-content *{
  margin: 0;
  margin-left: 5px;
}

.section{
    margin-top: 15px;
}

.title{
    margin-top: 20px;
}

.card-btn{
    position: absolute;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    padding: 1px;
    border: none;
    background-color: transparent;
}

.card-btn:hover{
    opacity: 0.6;
}