/* filter.css */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 7% auto;
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  position: relative;
}

/* 상단 태그 영역 및 검은색 구분선 */
.tag-container {
  display: flex;
  gap: 8px;
  padding-bottom: 15px;
  border-bottom: 2px solid black; 
  margin-bottom: 20px;
  min-height: 45px;
  flex-wrap: wrap;
}

.tag {
  background-color: #007bff;
  color: white;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.fillter-section h4 {
  margin: 20px 0 10px;
  font-size: 17px;
  font-weight: bold;
}

.fillter-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.opt-btn {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #f8f9fa;
  cursor: pointer;
  transition: 0.2s;
}

.opt-btn.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

#apply-filter {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background-color: #0E4A84;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}