* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.logo{
  margin-left: 10px;
  width: 60%;
}

.head {
  background-color: #0E4A84;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  top: 0;
}

.nav-links{
  margin-right: 50px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff9900; 
}

.login{
  background-color: #0E4A84;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.login:hover{
  color: #ff9900;
}

.search_wrapper {
  position:absolute;
  z-index: 5;
  display: flex;         
  justify-content: center;  
  align-items: center;      
  height: 10vh;           
  width: 100%;            
}

.input{
  display: flex;
  border: none;
}

#search{
  width: 600px;
  height: 40px;
  border: none;
}

#search:focus{
  outline: none;
}

.search_img{
  width: 20px;
  height: 20px;
}
.search_btn{
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
}

.search_btn:hover{
  opacity: 0.6;
}

.filter_img{
  width: 30px;
  height: 30px;
}

.category_btn{
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
}

.category_btn:hover{
  opacity: 0.6;
}

.mid_wrapper{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: black;
}

.left{
  position: absolute;
  z-index: 10;
  display: table;
  table-layout: fixed;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.item{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10%;
}

.find_btn{
  float: left;
  font-size: 25px;
  display: flex;
  align-items: left;     
  justify-content: left; 
  gap: 5px;
  border: none;
  background: transparent;
  font-weight: bold;
}

.find_btn:hover{
  opacity: 0.6;
}

.find_img{
  width: 50px;
  height: 50px;
}

.write_btn{
  font-size: 25px;
  display: flex;
  align-items: left;     
  justify-content: left; 
  gap: 5px;
  border: none;
  background: transparent;
  font-weight: bold;
}

.write_btn:hover{
  opacity: 0.6;
}

.write_img{
  width: 50px;
  height: 50px;
}

#item-list {
    justify-content: center;  
    align-items: center;   
    margin-left: 320px;
    margin-top: 100px; 
    display: flex;      
    flex-wrap: wrap;    
    gap: 20px;         
    padding: 20px;
}

/* 카드 css */
.card{
    width: 250px;
    height: 320px;
    border: 1px solid grey;
    border-radius: 16px;
    overflow: hidden;
}

.card-image {
    width: 230px;
    height: 180px; 
    padding: 10px;
}

.item-img{
    width: 230px;
    height: 180px;
    object-fit: fill;
    border-radius: 10;
}

.card-content *{
  margin: 0;
  margin-left: 5px;
}

.section{
    margin-top: 15px;
}

.title{
    margin-top: 20px;
}
